<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.shinnal.memo.post.repository.PostRepository">
  	<select id="selectPostList" resultType="com.shinnal.memo.post.domain.PostList">
  		SELECT
  			`id`
			, `userId`
			, `title`
			, `memo`
			, `image`
			, `createdAt`
			, `updatedAt`
		FROM
			`memo_post`
		WHERE
			`id` = #{id}
			AND `title` = #{title}
			AND `createdAt` = #{createdAt}
  	</select>
  	
  	
  	<insert id="insertPostMemo" parameterType="map">
  		INSERT INTO
  			`memo_post`
  		(	
  			`userId`
  			, `title`
  			, `memo`
  			, `image`  		
  		)	
  		VALUES
  		(	
  			#{userId}
  			, #{title}
  			, #{memo}
  			, #{image}
  			
  		)
  		
  	</insert>
  	
  
  </mapper>