<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
        
        <section layout:fragment="contents" class="contents d-flex justify-content-center">
        	<div class="contents-box my-3">
        		<h3 class="mt-3 font-weight-bolder text-center">메모 입력</h3>
        		<input type="text" class="form-control my-2 form-control-lg" placeholder="제목을 입력하세요" id="titleInput">	
		        <textarea class="form-control my-3 form-control-lg" placeholder="내용을 입력하세요" rows="10" id="memoInput"></textarea>
		        <input type="file" class="btn btn-light" id="fileInput">
		        
		        <div class="d-flex justify-content-between mt-3">
		        	<a href="/post/list-view" class="btn btn-secondary">목록으로</a>
		        	<button type="button" class="btn btn-secondary" id="saveInput">저장</button>
		        </div>
	        </div>
			
        	
        </section>
        
        <script layout:fragment="script">
        	$(function() {
        		$("#saveInput").on("click", function() {
        			let title = $("#titleInput").val();
        			let memo = $("#memoInput").val();
        			let imagefile = $("#fileInput")[0].files[0];
        			
        			if(title == "") {
        				alert("제목을 입력하세요");
        				return;
        			}
        			if(memo == "") {
        				alert("내용을 입력하세요");
        				return;
        			}
        			        			
        			let formData = new FormData();
        			formData.append("title", title);
        			formData.append("memo", memo);
        			formData.append("image", imagefile);
        			
        			$.ajax({
        				type:"post"
        				, url:"/post/create"
        				, data:formData
        				, enctype:"multipart/form-data" // 파일업로드시 추가 옵션
        				, processData:false // 파일업로드시 추가 옵션
        				, contentType:false // 파일업로드시 추가 옵션
        				, success:function(response) {
        					if(response.result == "success") {
        						location.href="/post/list-view";
        					} else {
        						alert("메모 작성 실패")
        					}
        				}
        				, error:function() {
        					alert("메모 작성 에러!!");
        				}
        				
        				
        			});
        			
        		});
        	});
        
        
        </script>
        
</html>