<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
        
        <section layout:fragment="contents" class="contents d-flex justify-content-center">
        	<div class="contents-box my-3">
        		<h3 class="mt-3 font-weight-bolder text-center">메모 입력</h3>
        		<input type="text" class="form-control my-2 form-control-lg" placeholder="제목을 입력하세요" id="titleInput" th:value="${post.title}">	
		        <textarea class="form-control my-3 form-control-lg" placeholder="내용을 입력하세요" rows="10" id="memoInput" th:text="${post.memo}"></textarea>
		        <img th:src="${post.image}">
		        
		        <div class="d-flex justify-content-between mt-3">
		        	<button type="button" class="btn btn-secondary">삭제</button>
		        	
		        	<div>
			        	<a href="/post/list-view" class="btn btn-secondary">목록으로</a>
			        	<button type="button" class="btn btn-secondary" id="saveInput">저장</button>
		        	</div>
		        </div>
	        </div>
			
        	
        </section>
        
</html>